<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1"/>
    </head>
<body>
    <div class="p-12 text-center space-y-4 flex flex-col items-center w-full">
        <h1 class="text-3xl font-bold font-serif italic text-gray-800">Who's that Pokémon!?</h1>
        <ul class="flex space-x-4">
            <li>
                <a href="/" class="text-blue-500 hover:underline">Play</a>
            </li>
            <li>
                <a href="/leaderboard" class="text-blue-500 hover:underline">Leaderboard</a>
            </li>
        </ul>